#d1{
    color: blueviolet;
    font-size: 19px;
    margin-top: -95px;
    margin-left: 798px;
}
#d2{
    color: rgb(92, 6, 173);
    font-size: 37px;
    margin-top: 126px;
    margin-left: 147px;
}

#d3{
    margin-top: 10px;
    margin-left: 147px;
}
#d4{
    margin-top: 30px;
    margin-left: 147px;
    color: rgb(92, 6, 173);
    
}
#d5{
    margin-top: -14px;
    margin-left: 147px;
    color: rgb(92, 6, 173);
    
}
#d6{
    margin-top: -14px;
    margin-left: 147px;
    font: bold;
    font-style: normal;
}

#d7{
    margin-top: 20px;
    margin-left: 147px;
    image-rendering: crisp-edges;
    
    

}
#d8{
    margin-top: -155px;
    margin-left: 450px;
}
#d9{
    margin-top: -529px;
    margin-left: 704px;
}